# dependencies
node_modules/

# lockfiles
package-lock.json
yarn.lock

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native (generated)
/ios
/android
web-editor/ios
web-editor/android

# Xcode
*.xcworkspace
*.xcuserdata
Pods/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa

# CocoaPods
Podfile.lock

# Metro
.metro-health-check*

# Build output
*.jsbundle
*.jsbundle.map

# Native binaries
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Environment
.env
.env*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Claude
.claude/
